// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.my-card {
  width: 400px;
  margin: 8px;
  padding: 16px;
}

.my-container {
  margin: 32px 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.my-img {
  width: 100%;
  object-fit: cover;
}
